{% extends "layout.html" %}
{% block content %}
<form action="/change_password" method="POST">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Current password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_password" placeholder="New password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirm_new_password" placeholder="Confirm new password" type="password">
    </div>
    <div class="mb-3 center-div">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock %}
